<a href="https://colab.research.google.com/github/giridhar247/sort/blob/master/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np


df=pd.read_csv('aaaa.csv',header=None)
df

                            0       1       2         3    4
0                         NaN  income  infant    region  oil
1                   Australia    3426    26.7      Asia   no
2                     Austria    3350    23.7    Europe   no
3                     Belgium    3346      17    Europe   no
4                      Canada    4751    16.8  Americas   no
5                     Denmark    5029    13.5    Europe   no
6                     Finland    3312    10.1    Europe   no
7                      France    3403    12.9    Europe   no
8                West.Germany    5040    20.4    Europe   no
9                     Ireland    2009    17.8    Europe   no
10                      Italy    2298    25.7    Europe   no
11                      Japan    3292    11.7    Europe   no
12                Netherlands    4103    11.6    Europe   no
13                New.Zealand    3723    16.2      Asia   no
14                     Norway    4102    11.3    Europe   no
15                   Portugal     956    44.8    Europe   no
16               South.Africa    1000    71.5    Africa   no
17                     Sweden    5596     9.6    Europe   no
18                Switzerland    2963    12.8    Europe   no
19                    Britain    2503    17.5    Europe   no
20              United.States    5523    17.6  Americas   no
21                    Algeria     400    86.3    Africa  yes
22                    Ecuador     250    78.5  Americas  yes
23                  Indonesia     110     125      Asia  yes
24                       Iran    1280     150      Asia  yes
25                       Iraq     560    28.1      Asia  yes
26                      Libya    3010     300    Africa  yes
27                    Nigeria     220      58    Africa  yes
28               Saudi.Arabia    1530     650      Asia  yes
29                  Venezuela    1240    51.7  Americas  yes
..                        ...     ...     ...       ...  ...
76                    Burundi      68     150    Africa   no
77                   Cambodia     123     100      Asia   no
78   Central.African.Republic     122     190    Africa   no
79                       Chad      70     160    Africa   no
80                    Dahomey      81   109.6    Africa   no
81                   Ethiopia      79    84.2    Africa   no
82                     Guinea      79     216    Africa   no
83                      Haiti     100     150  Americas   no
84                      India      93    60.6      Asia   no
85                      Kenya     169      55    Africa   no
86                       Laos      71     150      Asia   no
87                 Madagascar     120     102    Africa   no
88                     Malawi     130   148.3    Africa   no
89                       Mali      50     120    Africa   no
90                 Mauritania     174     187    Africa   no
91                      Nepal      90     150      Asia   no
92                      Niger      70     200    Africa   no
93                   Pakistan     102   124.3      Asia   no
94                     Rwanda      61   132.9    Africa   no
95               Sierra.Leone     148     170    Africa   no
96                    Somalia      85     158    Africa   no
97                  Sri.Lanka     162    45.1      Asia   no
98                      Sudan     125   129.4    Africa   no
99                   Tanzania     120   162.5    Africa   no
100                      Togo     160     127    Africa   no
101                    Uganda     134     160    Africa   no
102               Upper.Volta      82     180    Africa   no
103            Southern.Yemen      96      80      Asia   no
104                     Yemen      77      50      Asia   no
105                     Zaire     118     104    Africa   no

[106 rows x 5 columns]

In [0]:
x=df.shape[0]
y=df.shape[1]

In [0]:
df=df.drop(df.index[0])
del df[0]
df

        1      2         3    4
1    3426   26.7      Asia   no
2    3350   23.7    Europe   no
3    3346     17    Europe   no
4    4751   16.8  Americas   no
5    5029   13.5    Europe   no
6    3312   10.1    Europe   no
7    3403   12.9    Europe   no
8    5040   20.4    Europe   no
9    2009   17.8    Europe   no
10   2298   25.7    Europe   no
11   3292   11.7    Europe   no
12   4103   11.6    Europe   no
13   3723   16.2      Asia   no
14   4102   11.3    Europe   no
15    956   44.8    Europe   no
16   1000   71.5    Africa   no
17   5596    9.6    Europe   no
18   2963   12.8    Europe   no
19   2503   17.5    Europe   no
20   5523   17.6  Americas   no
21    400   86.3    Africa  yes
22    250   78.5  Americas  yes
23    110    125      Asia  yes
24   1280    150      Asia  yes
25    560   28.1      Asia  yes
26   3010    300    Africa  yes
27    220     58    Africa  yes
28   1530    650      Asia  yes
29   1240   51.7  Americas  yes
30   1191   59.6  Americas   no
..    ...    ...       ...  ...
76     68    150    Africa   no
77    123    100      Asia   no
78    122    190    Africa   no
79     70    160    Africa   no
80     81  109.6    Africa   no
81     79   84.2    Africa   no
82     79    216    Africa   no
83    100    150  Americas   no
84     93   60.6      Asia   no
85    169     55    Africa   no
86     71    150      Asia   no
87    120    102    Africa   no
88    130  148.3    Africa   no
89     50    120    Africa   no
90    174    187    Africa   no
91     90    150      Asia   no
92     70    200    Africa   no
93    102  124.3      Asia   no
94     61  132.9    Africa   no
95    148    170    Africa   no
96     85    158    Africa   no
97    162   45.1      Asia   no
98    125  129.4    Africa   no
99    120  162.5    Africa   no
100   160    127    Africa   no
101   134    160    Africa   no
102    82    180    Africa   no
103    96     80      Asia   no
104    77     50      Asia   no
105   118    104    Africa   no

[105 rows x 4 columns]

In [0]:
X=df.shape[0]
Y=df.shape[1]

In [0]:
df.iloc[:X,2:3]=df.iloc[:X,2:3].replace("Asia","4")
df.iloc[:X,2:3]=df.iloc[:X,2:3].replace("Africa","3")
df.iloc[:X,2:3]=df.iloc[:X,2:3].replace("Europe","2")
df.iloc[:X,2:3]=df.iloc[:X,2:3].replace("Americas","1")
df.iloc[:X,3:4]=df.iloc[:X,3:4].replace("yes","1")
df.iloc[:X,3:4]=df.iloc[:X,3:4].replace("no","0")
df

        1      2  3  4
1    3426   26.7  4  0
2    3350   23.7  2  0
3    3346     17  2  0
4    4751   16.8  1  0
5    5029   13.5  2  0
6    3312   10.1  2  0
7    3403   12.9  2  0
8    5040   20.4  2  0
9    2009   17.8  2  0
10   2298   25.7  2  0
11   3292   11.7  2  0
12   4103   11.6  2  0
13   3723   16.2  4  0
14   4102   11.3  2  0
15    956   44.8  2  0
16   1000   71.5  3  0
17   5596    9.6  2  0
18   2963   12.8  2  0
19   2503   17.5  2  0
20   5523   17.6  1  0
21    400   86.3  3  1
22    250   78.5  1  1
23    110    125  4  1
24   1280    150  4  1
25    560   28.1  4  1
26   3010    300  3  1
27    220     58  3  1
28   1530    650  4  1
29   1240   51.7  1  1
30   1191   59.6  1  0
..    ...    ... .. ..
76     68    150  3  0
77    123    100  4  0
78    122    190  3  0
79     70    160  3  0
80     81  109.6  3  0
81     79   84.2  3  0
82     79    216  3  0
83    100    150  1  0
84     93   60.6  4  0
85    169     55  3  0
86     71    150  4  0
87    120    102  3  0
88    130  148.3  3  0
89     50    120  3  0
90    174    187  3  0
91     90    150  4  0
92     70    200  3  0
93    102  124.3  4  0
94     61  132.9  3  0
95    148    170  3  0
96     85    158  3  0
97    162   45.1  4  0
98    125  129.4  3  0
99    120  162.5  3  0
100   160    127  3  0
101   134    160  3  0
102    82    180  3  0
103    96     80  4  0
104    77     50  4  0
105   118    104  3  0

[105 rows x 4 columns]

In [0]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.iloc[0:X,0:3], df.iloc[0:X,3:4], test_size=0.30)

In [0]:
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier()
classifier.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [0]:
y_pred = classifier.predict(X_test)

In [0]:
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))

[[29  0]
 [ 2  1]]
              precision    recall  f1-score   support

           0       0.94      1.00      0.97        29
           1       1.00      0.33      0.50         3

    accuracy                           0.94        32
   macro avg       0.97      0.67      0.73        32
weighted avg       0.94      0.94      0.92        32

ID3

In [0]:
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier(criterion="entropy")
classifier.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [0]:
y_pred = classifier.predict(X_test)

In [0]:
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))

[[29  0]
 [ 1  2]]
              precision    recall  f1-score   support

           0       0.97      1.00      0.98        29
           1       1.00      0.67      0.80         3

    accuracy                           0.97        32
   macro avg       0.98      0.83      0.89        32
weighted avg       0.97      0.97      0.97        32

LOGISTIC REGRESSION

In [0]:
from sklearn.linear_model import LogisticRegression
classifier =  LogisticRegression(tol=0.001)
classifier.fit(X_train, y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.001, verbose=0,
                   warm_start=False)

In [0]:
y_pred = classifier.predict(X_test)

In [0]:
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))

[[29  0]
 [ 3  0]]
              precision    recall  f1-score   support

           0       0.91      1.00      0.95        29
           1       0.00      0.00      0.00         3

    accuracy                           0.91        32
   macro avg       0.45      0.50      0.48        32
weighted avg       0.82      0.91      0.86        32

/usr/local/lib/python3.6/dist-packages/sklearn/metrics/classification.py:1437: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

RANDOM FOREST

In [0]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators=100, max_depth=2, random_state=0)
classifier.fit(X_train, y_train)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=2, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [0]:
y_pred = classifier.predict(X_test)

In [0]:
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))

[[29  0]
 [ 3  0]]
              precision    recall  f1-score   support

           0       0.91      1.00      0.95        29
           1       0.00      0.00      0.00         3

    accuracy                           0.91        32
   macro avg       0.45      0.50      0.48        32
weighted avg       0.82      0.91      0.86        32

/usr/local/lib/python3.6/dist-packages/sklearn/metrics/classification.py:1437: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

NUERAL NETWORK

In [0]:
from sklearn.neural_network import MLPClassifier
classifier = MLPClassifier(solver='lbfgs', alpha=1e-5, hidden_layer_sizes=(5, 2), random_state=1)
classifier.fit(X_train, y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/neural_network/multilayer_perceptron.py:921: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

MLPClassifier(activation='relu', alpha=1e-05, batch_size='auto', beta_1=0.9,
              beta_2=0.999, early_stopping=False, epsilon=1e-08,
              hidden_layer_sizes=(5, 2), learning_rate='constant',
              learning_rate_init=0.001, max_iter=200, momentum=0.9,
              n_iter_no_change=10, nesterovs_momentum=True, power_t=0.5,
              random_state=1, shuffle=True, solver='lbfgs', tol=0.0001,
              validation_fraction=0.1, verbose=False, warm_start=False)

In [0]:
y_pred = classifier.predict(X_test)

In [0]:
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))

[[12 17]
 [ 1  2]]
              precision    recall  f1-score   support

           0       0.92      0.41      0.57        29
           1       0.11      0.67      0.18         3

    accuracy                           0.44        32
   macro avg       0.51      0.54      0.38        32
weighted avg       0.85      0.44      0.53        32

PERCEPTRON

In [0]:
from sklearn.linear_model import Perceptron
classifier =Perceptron(tol=1e-3, random_state=0)
classifier.fit(X_train, y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Perceptron(alpha=0.0001, class_weight=None, early_stopping=False, eta0=1.0,
           fit_intercept=True, max_iter=1000, n_iter_no_change=5, n_jobs=None,
           penalty=None, random_state=0, shuffle=True, tol=0.001,
           validation_fraction=0.1, verbose=0, warm_start=False)

In [0]:
y_pred = classifier.predict(X_test)

In [0]:
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))

[[29  0]
 [ 3  0]]
              precision    recall  f1-score   support

           0       0.91      1.00      0.95        29
           1       0.00      0.00      0.00         3

    accuracy                           0.91        32
   macro avg       0.45      0.50      0.48        32
weighted avg       0.82      0.91      0.86        32

/usr/local/lib/python3.6/dist-packages/sklearn/metrics/classification.py:1437: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)